{% extends 'jp_app/base.html' %}

{% block title %}Idea{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="p-3 mb-2 bg-info text-white">NÁPADY</div>

<hr>

<div class="col">
    <div class="card text-white bg-success">
        <div class="card-body">
            <h5 class="card-title">Tvorba nápadu</h5>
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-dark">Přidat</button>
                </form>
            </p>
        </div>
    </div>
</div>
</div>


{% endblock %}