{% extends 'jp_app/base.html' %}

{% block title %}ToDoList{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="p-3 mb-2 bg-info text-white">ToDoList</div>

<hr>
<h2>Editace ToDoList</h2>
<div class="form-row align-items-center">
    <div class="col-auto">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success">Upravit</button>
        </form>
    </div>
</div>


{% endblock %}