<!DOCTYPE html>
<html>
<style>
    span.small {
  font-size: smaller;
}
</style>

<body>
    
{% extends 'jp_app/base.html' %}

{% block title %}Product{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<span class="small">

    <br>
<div class="p-3 mb-2 bg-info text-white">PRODUKTY</div>

<hr>

<div class="col">
    <div class="card text-white bg-success">
        <div class="card-body">
            <h5 class="card-title">Tvorba produktu</h5>
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-outline-light btn-sm" href="/item/" role="button">Přidat ITEM (součást produktu)</a>
                    </div>
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-dark">Přidat produkt</button>
                </form>
            </p>
        </div>
    </div>
</div>


</span>

{% endblock %}