<!doctype html>
<html>
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

  
    <title>{% block title %}{% endblock %}</title>
    
    
</head>

<body>

    <!-- umožní, že se rozbalovací nabídka v navbar (menu) sama rozbalí, pokud na ni najedu myší -->
    <style type="text/css">
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
    </style>


    <!-- navigační menu (bootstrap) -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <!-- logo J&P Candles -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'jp_app/J&P logo bílé.png' %}" width="70" height="70" alt="My image">
            </a>
            
            <!-- obsah -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">Prodej</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Produkty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_material">Sklad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/idea">Nápady</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/google">Google</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Editace
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/create">Editace prodej</a></li>
                            <li><a class="dropdown-item" href="/product_add">Přidání produktu</a></li>
                            <li><a class="dropdown-item" href="/item">Items</a></li>
                            <li><a class="dropdown-item" href="/material">Editace sklad</a></li>
                            <li><a class="dropdown-item" href="/idea_add">Editace nápady</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Statistiky
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/material_chart">Skladové zásoby (Chart.js)</a></li>
                            <li><a class="dropdown-item" href="/statistic">Filtrované statistiky s grafem (Pandas)</a></li>
                            <li><a class="dropdown-item" href="/stat_chart">Statistiky a grafy (Chart.js)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- slouží k zobrazování upozornění po vykonání nějaké funkce (např. uložení či vymazání položky) -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
        {% endfor %}
    {% endif %}

    <div id="content", name="content", class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                <!-- <h1 class="mt-2">{% load static %}
                <img src="{% static 'jp_app/J-P web special.png' %}" alt="My image" class="img-fluid"></h1> -->
                <!-- <hr class="mt-0 mb-4"> -->
                {% if user.is_authenticated or request.path == "/login/" %}
                    {% block content %}
                    {% endblock %}
                {% else %}
                    <p>Login <a href="/login">Here</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    
    
    <!-- další kód slouží k pokročilejšímu zobrazování tabulek pomocí jQuery (dataTables)  -->

    <script src="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.filter.html.js"></script>

    <script type="text/javascript">
        console.log("js ready");
        $(document).ready(function () {
            console.log("Jquery ready");
            $('#myTable').dataTable({
                language: {
                    url: 'http://cdn.datatables.net/plug-ins/1.12.1/i18n/cs.json',
                }                    

            });
        });
    </script>

    <script type="text/javascript">
        console.log("js ready");
        $(document).ready(function () {
            console.log("Jquery ready");
            $('#myTable1').dataTable({
                language: {
                    url: 'http://cdn.datatables.net/plug-ins/1.12.1/i18n/cs.json',
                }

            });
        });
    </script>

    <script type="text/javascript">
        console.log("js ready");
        $(document).ready(function () {
            console.log("Jquery ready");
            $('#myTable2').dataTable({
                language: {
                    url: 'http://cdn.datatables.net/plug-ins/1.12.1/i18n/cs.json',
                }

            });
        });
    </script>
    
</body>
</html>



