{% extends 'jp_app/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<br>
<div class="p-3 mb-2 bg-info text-white">Home</div>

<!doctype html>



<head>
   
</head>

<body>
 
   
        <form>
       
               
                <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
      
        </form>


    <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker(
                {locale: 'cs'}
            );
        });
    </script>


</body>

</html>

{% endblock %}