<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <style>
        span.small {
  font-size: smaller;
}
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
 </head>


<body>

{% extends 'jp_app/base.html' %}

{% block title %}Přehled produktů{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<span class="small">
    
<br>
<div class="p-3 mb-2 bg-dark text-white">PRODUKTY</div>

<!-- <HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled tržeb v jednotlivých dnech</strong></div>
<table class="table table-striped table-sm">
    <thead class="table-info">
        <tr>
            <th scope="row">Datum</th>
            <th scope="row">Utrženo</th>
        </tr>
    </thead>
    <tbody>
        {% for x, y in tt %}
        <tr>
            <td >{{ x|date:'d.m.Y' }}</td>
            <td >{{ y }} Kč</td>
        {% endfor %}
        </tr>    
        <tr>
            <th scope="col">CELKEM</th>
            <th scope="col">{{ total }} Kč</th>
        </tr>
    </tbody>
</table> -->

<p>Celkem dosud utrženo: <strong>{{ total }} Kč</strong></p>


<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled transakcí</strong></div>
<div class="col">
    <div class="table-responsive">
        <strong>Filtrování</strong>
        <table class="table table-striped table-sm">
            <thead class="table-secondary">
                <tr>
                    <form class="form-group" method="get">
                        <th scope="col">Den prodeje {{ myFilter.form.day_of_sale }}</th>
                        <th scope="col">Prodejní kanál {{ myFilter.form.sales_channel }}</th>
                        <th scope="col">Produkt {{ myFilter.form.product }}</th>
                        <th scope="col">Transakce vytvořena {{ myFilter.form.created }}</th>
                        <th scope="col"><button class="btn btn-primary btn-sm" type="submit">Filtrovat</button></th>
                    </form>
                </tr>
            </thead>
        </table>
    </div>
    <form method="post" action="#">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="myTable1"> 
                <!-- přidání atrubutu "id" souvisí s rozšířením jQuery (nastavený v base.html) -->
                <thead class="table-info">
                    <strong>Přehled</strong>
                    <tr>
                        <th scope="col">Den prodeje</th>
                        <th scope="col">Prodejní kanál</th>
                        <th scope="col">Produkt</th>
                        <th scope="col">Prodejní cena</th>
                        <th scope="col">Množství produktu</th>
                        <th scope="col">Celkem utrženo</th>
                        <th scope="col">Transakce vytvořena</th>
                        <th scope="col">Vymazání</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in t %}
                        <tr>
                            <td>{{ transaction.day_of_sale|safe }}</td>
                            <td>{{ transaction.sales_channel }}</td>
                            <th scope="row"><small>{{ transaction.product }}</small></th>
                            <td>{{ transaction.product_price }}</td>
                            <td>{{ transaction.quantity_of_product }}</td>
                            <td>{{ transaction.total_price }}</td>
                            <td>{{ transaction.created|safe }}</td>
                            <td><button type="submit" , name="delete_t" , value="{{transaction.id}}" , class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled produktů</strong></div>
<div class="table-responsive">
    <table class="table table-striped table-sm" id="myTable2">
        <thead class="table-info">
            <tr>
                <th scope="col">Název produktu</th>
                <th scope="col">Typ</th>
                <th scope="col">Výrobní náklady</th>
                <th scope="col">J&P CANDLES</th>
                <th scope="col">Prodáno ks (množství)</th>
                <th scope="col">Vytvořeno</th>
            </tr>
        </thead>
        <tbody>
            {% for product in p %}
                <tr>
                    <th scope="row">{{ product.name }}</th>
                    <td>{{ product.product_type }}</td>
                    <td>{{ product.production_costs }}</td>
                    <td>{{ product.jp_candles }}</td>
                    <td>{{ product.sold }}</td>
                    <td>{{ product.created|safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled typů produktů</strong></div>
<p>Počet položek: {{ pt_count }}</p>
<ul>
    {% for product_type in pt %}
    <li>{{ product_type.name }}</li>
    {% endfor %}
</ul>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled prodejních kanálů</strong></div>
<ul>
    {% for sale in s %}
    <li>{{ sale.name }}</li>
    {% endfor %}
</ul>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled typů prodejních kanálů</strong></div>
<ul>
    {% for sale_type in st %}
    <li>{{ sale_type.name }}</li>
    {% endfor %}
</ul>

</span>
</body>

{% endblock %}
