<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        
    }
</style>

<body>

{% extends 'jp_app/base.html' %}

{% block title %}Sklad{% endblock %}

{% block content %}
<br>
<div class="p-3 mb-2 bg-dark text-white">SKLAD</div>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Aktuální stav skladu</strong></div>
<p>Celkový počet položek: {{ m_count }}</p>
<table class="table table-striped table-sm" id="myTable">
    <thead class="table-info">
        <tr>
            <th scope="col">Zboží</th>
            <th scope="col">Typ zboží</th>
            <th scope="col">Množství</th>
            <th scope="col">Celková cena</th>            
        </tr>
    </thead>
    <tbody>
        {% for material in m %}
            <tr>
                <th scope="row">{{ material.name }}</th>
                <td>{{ material.type }}</td>
                <td>{{ material.quantity_of_material }}</td>
                <td>({{ material.price }})</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Historie naskladnění</strong></div>
<form method="post" action="#">
    <div class="table-responsive">
        {% csrf_token %}
        <table class="table table-striped table-sm" id="myTable1">
            <thead class="table-info">
                <tr>
                    <th scope="col">Den naskladnění</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Zboží</th>
                    <th scope="col">Množství</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Obchod</th>
                    <th scope="col">Odkaz</th>
                    <th scope="col">Poznámka</th>
                    <th scope="col">Vytvořeno</th>
                    <th scope="col">Vymazání</th>
                </tr>
            </thead>
            <tbody>
                {% for material in st %}
                    <tr>
                        <td>{{ material.day_of_storage|date:'d.m.Y' }}</td>
                        <td>{{ material.material_type }}</td>
                        <th scope="row">{{ material.material }}</th>
                        <td>{{ material.quantity_of_material }}</td>
                        <td>{{ material.price }}</td>
                        <td>{{ material.shop }}</td>
                        <td>{{ material.url }}</td>
                        <td>{{ material.note }}</td>
                        <td>{{ material.created|date:'d.m.Y H:i:s' }}</td>
                        <td><button type="submit" , name="delete_st" , value="{{material.id}}" , class="btn btn-danger btn-sm">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Historie vyskladnění</strong></div>
<form method="post" action="#">
    <div class="table-responsive">
    {% csrf_token %}
    <table class="table table-striped table-sm" id="myTable2">
        <thead class="table-info">
            <tr>
                <th scope="col">Den vyskladnění</th>
                <th scope="col">Typ</th>
                <th scope="col">Zboží</th>
                <th scope="col">Množství</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Vytvořeno</th>
                <th scope="col">Vymazání</th>
            </tr>
        </thead>
        <tbody>
            {% for material in r %}
                <tr>
                    <td>{{ material.day_of_removal|date:'d.m.Y' }}</td>
                    <td>{{ material.material_type }}</td>
                    <th scope="row">{{ material.material }}</th>
                    <td>{{ material.quantity_of_material }}</td>
                    <td>{{ material.note }}</td>        
                    <td>{{ material.created|date:'d.m.Y H:i:s' }}</td>
                    <td><button type="submit" , name="delete_r" , value="{{material.id}}" , class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</form>

<HR>
<div class="p-2 mb-2 bg-info text-black"><strong>Přehled typu surovin</strong></div>
<p>Počet položek: {{ mt_count }}</p>
<ul>
    {% for material_type in mt %}
    <li>{{ material_type.name }}</li>
    {% endfor %}
</ul>



{% endblock %}

</html>