<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
 </head>


<body>

{% extends 'jp_app/base.html' %}

{% block title %}
Statistic
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="p-3 mb-2 bg-dark text-white">STATISTIKY A GRAFY</div>
<hr>
<div class="p-2 mb-2 bg-info text-black"><strong>Denní přehled tržeb</strong></div>

<div class="row">
    <div class="col-md-4 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
            <table class="table table-striped table-sm" id="myTable">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Utrženo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in df_d %}
                    <tr>
                        <th scope="row">{{ t.day_of_sale|safe }}</th>
                        <td>{{ t.total_price }} Kč</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <h5 class="card-title">Tržby</h5>
                <canvas id="myChartSum" width="800" height="578">
                    <script>
                        const dataSum = {
                            labels: [{% for x in df_d %} '{{ x.day_of_sale }}', {% endfor %}],
                        datasets: [{
                            label: 'Utržená suma (Kč)',
                            backgroundColor: 'rgb(13, 202, 240)',
                            borderColor: 'rgb(13, 202, 240)',
                            data: [{% for x in df_d %} {{ x.total_price }}, {% endfor %}],
                                }]
                                };

                        const configSum = {
                            type: 'line',
                            data: dataSum,
                            options: {  }
                            // responsive slouží k tomu, aby se obraz neklepal(nevýhodou ale je, že grafy nejsou responzivní)
                        };
                        const myChartSum = new Chart(
                            document.getElementById('myChartSum'),
                            configSum
                        );
                    </script>
                </canvas>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="p-2 mb-2 bg-info text-black"><strong>Měsíční přehled tržeb</strong></div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <table class="table table-striped table-sm" id="myTable1">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Měsíc</th>
                            <th scope="col">Utrženo</th>
                
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in df_m %}
                        <tr>
                            <th scope="row">{{ t.month_of_sale }}/{{ t.year_of_sale }}</th>
                            <td>{{ t.total_price }}</td>
                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <h5 class="card-title">Tržby</h5>
                <canvas id="myChart2" width="800" height="578">
                    <script>
                        const data2 = {
                            labels: [{% for x in df_m %} '{{ x.month_year }}', {% endfor %}],
                        datasets: [{
                            label: 'Utržená suma (Kč)',
                            backgroundColor: 'rgb(13, 202, 240)',
                            borderColor: 'rgb(13, 202, 240)',
                            data: [{% for x in df_m %} {{ x.total_price }}, {% endfor %}],
                                }]
                                };

                        const config2 = {
                            type: 'bar',
                            data: data2,
                            options: {}
                            // responsive slouží k tomu, aby se obraz neklepal(nevýhodou ale je, že grafy nejsou responzivní)
                        };
                        const myChart2 = new Chart(
                            document.getElementById('myChart2'),
                            config2
                        );
                    </script>
                </canvas>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="p-2 mb-2 bg-info text-black"><strong>Roční přehled tržeb</strong></div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <table class="table table-striped table-sm" id="myTable2">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Rok</th>
                            <th scope="col">Utrženo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in df_y %}
                        <tr>
                            <th scope="row">{{ t.index }}</th>
                            <td>{{ t.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <h5 class="card-title">Tržby</h5>
                <canvas id="myChart3" width="800" height="578">
                    <script>
                        const data3 = {
                            labels: [{% for x in df_y %} '{{ x.index }}', {% endfor %}],
                        datasets: [{
                            label: 'Utržená suma (Kč)',
                            backgroundColor: 'rgb(13, 202, 240)',
                            borderColor: 'rgb(13, 202, 240)',
                            data: [{% for x in df_y %} {{ x.total_price }}, {% endfor %}],
                                }]
                                };

                        const config3 = {
                            type: 'bar',
                            data: data3,
                            options: {}
                            // responsive slouží k tomu, aby se obraz neklepal(nevýhodou ale je, že grafy nejsou responzivní)
                        };
                        const myChart3 = new Chart(
                            document.getElementById('myChart3'),
                            config3
                        );
                    </script>
                </canvas>
            </div>
        </div>
    </div>
</div>



</body>

{% endblock %}