{% extends 'jp_app/base.html' %}

{% block title %}
Statistic
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="p-3 mb-2 bg-dark text-white">STATISTIKY PRODEJE</div>

<form method="post" action="/statistic/">
    <div class="form-row">
        
        {% csrf_token %}
        {{form_stat|crispy}}
                              
    </div>
    <button type="submit", class="btn btn-secondary btn-lg btn-block">Zobrazit graf</button>
</form>

<hr>

<img src="data:image/png;base64, {{chart_d|safe}}">
<img src="data:image/png;base64, {{chart_m|safe}}">

<hr>

{{df_tr|safe}}

{{df_d|safe}}

{{df_m|safe}}

{{df_y|safe}}



{% endblock %}